<app-navbar></app-navbar>
<div class="container-fluid px-1 py-5 mx-auto">
    <div class="row d-flex justify-content-center">
        <div class="col-xl-7 col-lg-8 col-md-9 col-11 text-center">
            <h3>Muscle Gaining Goal</h3>
            <p class="blue-text">Just answer a few questions<br> so that we can personalize the right experience for you.</p>
            <div class="card">
                <h5 class="text-center mb-4">Please fill in Your Goal</h5>
                <form class="form-card">
                    <div class="row justify-content-between text-left">
                        <div class="form-group col-sm-6 flex-column d-flex"> 
                            <label class="form-control-label px-3">Name<span class="text-danger"> *</span></label> 
                            <input type="text" id="name" name="name" placeholder="{{this.appservice.globalloggedinuser.name}}" disabled> 
                        </div>
                        <div class="form-group col-sm-6 flex-column d-flex"> 
                            <label class="form-control-label px-3">Email<span class="text-danger"> *</span></label> 
                            <input type="text" id="lname" name="email" placeholder="{{this.appservice.globalloggedinuser.email}}" disabled>
                        </div>
                    </div>
                    <div class="row justify-content-between text-left">
                        <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">Lean Muscle you want to gain? (kg)<span class="text-danger"> *</span></label> <input type="text" id="weight" name="weight" [(ngModel)]="goalentered" > </div>
                    </div>
                    
                    <div class="row justify-content-end">
                        <div class="form-group col-sm-6"> <button type="button" class="btn-block btn-primary" (click)="musclebuildactivation()" >Submit</button> </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

