<app-navbar></app-navbar>
<section class="vh-100 gradient-custom">
    <div class="text-center text-white" style="padding-top:30px;">
        <h3>Search for the food and get it's nutritional Values</h3>
    </div>
    <div class="text-center border-round" style="margin-top:30px;">
        <input type="text" placeholder="Enter name of food" [(ngModel)]="foodname">
        <button  type="button" (click)="foodapi()">Search</button>
    </div>
    <div>
        <h2>Foods added : </h2><br>
        <ol *ngFor="let food of foodList">
            <li>{{food}}</li>
        </ol>
    </div>
    <div>
        <h3>Calories in Total : </h3><br>
        {{TotalCalories}}
    </div>
</section>

