<app-navbar></app-navbar>
<section class="vh-100 gradient-custom">
    <div class="text-center text-white" style="padding-top:30px;">
        <h3>Calculate calories you ate today.</h3>
    </div>

    <div class="col-md-4 col-sm-6 col-xs-12" style="margin-left:auto;margin-right:auto; width:358px;">
        <div class="single-price">
            <h4>Count it</h4>
          <div class="deal-top" style="padding-top:10px">
            <div class="text-center border-round" style="margin-top:30px;">
                <input class="bg-dark rounded text-white" type="search" placeholder="Search" [(ngModel)]="foodname" style="height:38px;padding-top:2px;padding-bottom:8px;">
                <button class="btn btn-secondary"  type="button" (click)="foodapi()"><i class="fa fa-search"></i></button>
            </div>
          </div>
          <div class="deal-bottom">
            <ul class="deal-item" *ngFor="let item of foodList">
              <li><strong>Food : </strong>{{item}}</li>

            </ul>
            <div class="btn-area">
              <a (click)="navigatetotrackers()">Total Cals : {{TotalCalories}}</a>       
            </div>
          </div>
        </div>
      </div>

</section>
<app-footer></app-footer>

<!-- <div>
    <h2>Foods added : </h2><br>
    <ul *ngFor="let food of foodList">
        <li>{{food}}</li>
    </ul>
</div>
<div>
    <h3>Calories in Total : </h3><br>
    {{TotalCalories}}
</div> -->
