<nav class="navbar navbar-expand-lg navbar-dark bg-dark p-3 purple-gradient">
  <div class="container-fluid">
    <a class="navbar-brand mt-2 mt-lg-0" routerLink="">
      <img
        src="https://assets.website-files.com/5d230436d635071c3f7da24d/5ddf5c3da73bad747a57e1e1_HealthifyMe---White-Logo-(Transparent).png"
        height="45" alt="MDB Logo" loading="lazy" />
    </a>
  </div>
</nav>

<section class="vh-100 gradient-custom">
  <div class="container-fluid h-custom">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-md-9 col-lg-6 col-xl-5">
        <img
          src="https://media.istockphoto.com/photos/fitness-with-dumbbells-picture-id604002342?k=20&m=604002342&s=612x612&w=0&h=hZAWtCJFrmrav6sv2nfaO9CvMP2x6SJEVDk0VkqK8gk="
          class="img-fluid" alt="Sample image" style="position:relative;bottom:40px;">
      </div>
      <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
        <form>
          <div class="divider d-flex align-items-center my-4">
            <p class="text-center fw-bold mx-3 mb-0">Registration Details</p>
          </div>


          <div class="row">
            <div class="col-md-6 md-4">

              <!-- Full Name Input -->
              <div class="form-outline">
                <input type="text" id="fullName" class="form-control form-control-lg" placeholder="Full Name" />
              </div>

            </div>

            <!-- Email address Input -->
            <div class="col-md-6 mb-4">

              <div class="form-outline">
                <input type="email" id="email" class="form-control form-control-lg" placeholder="Email" />

              </div>

            </div>
          </div>

          <div class="row">
            <div class="col-md-6 mb-4 d-flex align-items-center">

              <div class="form-outline datepicker w-100">
                <input type="number" class="form-control form-control-lg" id="age" placeholder="Age(Yrs)" />
              </div>

            </div>
            <div class="col-md-6 mb-4">

              <h6 class="mb-2 pb-1">Gender: </h6>

              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="femaleGender" value="option1"
                  checked />
                <label class="form-check-label" for="femaleGender">Female</label>
              </div>

              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="maleGender"
                  value="option2" />
                <label class="form-check-label" for="maleGender">Male</label>
              </div>

              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="otherGender"
                  value="option3" />
                <label class="form-check-label" for="otherGender">Other</label>
              </div>

            </div>
          </div>

          <div class="row">
            <div class="col-md-6 mb-4 pb-2">

              <div class="form-outline">
                <input type="email" id="weight" class="form-control form-control-lg" placeholder="Weight (kg)" />
              </div>

            </div>
            <div class="col-md-6 mb-4 pb-2">

              <div class="form-outline">
                <input type="tel" id="height" class="form-control form-control-lg" placeholder="Height (cm)" />
              </div>

            </div>
          </div>

          <div class="row">
            <div class="col-md-6 md-4">

              <!-- Password Input -->
              <div class="form-outline">
                <input type="password" id="password" class="form-control form-control-lg"
                  placeholder="Create Password" />
              </div>

            </div>

            <!-- Confirm Password Input -->
            <div class="col-md-6 mb-4">

              <div class="form-outline">
                <input type="password" id="confirmpassword" class="form-control form-control-lg"
                  placeholder="Confirm Password" />

              </div>

            </div>
          </div>

          <div class="mt-4 pt-2">
            <input class="btn btn-primary btn-lg" type="submit" value="Submit" />
          </div>

        </form>
      </div>
    </div>
  </div>
  <div
    class="d-flex flex-column flex-md-row text-center text-md-start justify-content-between py-4 px-4 px-xl-5 bg-dark">
    <!-- Copyright -->
    <div class="text-white mb-3 mb-md-0">
      Copyright © 2022. All rights reserved.
    </div>
    <!-- Copyright -->

    <!-- Right -->

    <!-- Right -->
  </div>
</section>