<header>

    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3"
                aria-label="Slide 4"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active"
                style="background-image: url('https://images.unsplash.com/photo-1605296867724-fa87a8ef53fd?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80')">
                <div class="carousel-caption">
                    <h5>Being Fit is you Birth Right</h5>
                    <p>We help you to get in your dream shape!</p>
                </div>
            </div>
            <div class="carousel-item"
                style="background-image: url('https://images.unsplash.com/photo-1507398941214-572c25f4b1dc?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=773&q=80')">
                <div class="carousel-caption">
                    <h5>The More you give, the better you get!</h5>
                    <p>We provide you with weekly targets so you never get demotivated!</p>
                </div>
            </div>
            <div class="carousel-item"
                style="background-image: url('https://images.unsplash.com/photo-1554284126-aa88f22d8b74?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=994&q=80')">
                <div class="carousel-caption">
                    <h5>The more you workout, the weaker his knees get!</h5>
                    <p>We empower you to let him know who's the boss</p>
                </div>
            </div>
            <div class="carousel-item"
                style="background-image: url('https://images.unsplash.com/photo-1577344718665-3e7c0c1ecf6b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=869&q=80')">
                <div class="carousel-caption">
                    <h5>Brilliant things happen in calm minds.</h5>
                    <p>We provide the best meditation routines to keep you mind healthy</p>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</header>

<!-- Page Content -->
<br>

<div class="row featurette text-center bg-dark border border-light">
    <div class="col-md-7" style="padding-top:170px;">
        <h2 class="featurette-heading text-white">Give your body the best diet.<span class="text-muted">Get a healthy lifestyle.</span>
        </h2>
        <p class="lead text-white">A healthy diet is essential for good health and nutrition. It protects you against many chronic noncommunicable diseases, such as heart disease, diabetes and cancer..</p>
    </div>
    <div class="col-md-5">


        <img class="rounded" src="https://images.pexels.com/photos/6740535/pexels-photo-6740535.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" 
        style = "height:460px;width:500px;" />
    </div>
</div>
<div class="row featurette text-center bg-dark border border-light">
    <div class="col-md-5">


        <img class="rounded" src="https://images.pexels.com/photos/6551427/pexels-photo-6551427.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" 
        style="height:430px;width:500px;"/>
    </div>
    <div class="col-md-7" style="padding-top:150px">
        <h2 class="featurette-heading text-white">Get rid of Unhealthy fat.<span class="text-muted">Know the best way to do so.</span>
        </h2>
        <p class="lead text-white">Obesity is unhealthy because excess weight puts more strain on your heart.Losing weight is one of the best ways to reduce your risk of heart problems and other diseases.</p>
    </div>

</div>
<div class="row featurette text-center bg-dark border border-light">
    <div class="col-md-7" style="padding-top:180px;">
        <h2 class="featurette-heading text-white">Get a Calorie Tracker.<span class="text-muted">Track Your Daily Calories</span>
        </h2>
        <p class="lead text-white">Counting calories can help you lose weight by bringing awareness to what you eat each day. This can help you identify eating patterns that you may need to modify.</p>
    </div>
    <div class="col-md-5 ">


        <img class="rounded" src="https://miro.medium.com/max/1000/0*XowLqqX7EtOdtDZQ.jpg" 
        style = "height:460px;width:500px;" />
    </div>
</div>

<!-- Our Team-->
<div class="container text-center mt-5 mb-2">
    <h1 class="mb-0">Meet our Team</h1><span>We believe in team work and Customer Success is our priority.</span></div>
<div class="container mt-3">
    <div class="row">
        <div class="col-md-4">
            <div class="bg-white p-3 text-center rounded box"><img class="img-responsive rounded-circle" src="../../../assets/images/aman.jpg" width="90">
                <h5 class="mt-3 name">Aman Sahu</h5><span class="work d-block">Software Developer</span><span class="work d-block">Angular and Java FSD</span>
                <div class="mt-4 about"><span>is a long established fact that eader&nbsp; will be distracted by the readable content.</span></div>
                <div class="mt-4">
                    <h6 class="v-profile"><a class="btn" href="https://www.linkedin.com/in/aman-sahu-05901616b/" >View LinkedIn</a></h6>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="bg-white p-3 text-center rounded box"><img class="img-responsive rounded-circle" src="../../../assets/images/shashank.jpg" width="90">
                <h5 class="mt-3 name">Shashank Verma</h5><span class="work d-block">Software Developer</span><span class="work d-block">Angular and Java FSD</span>
                <div class="mt-4 about"><span>is a long established fact that eader&nbsp; will be distracted by the readable content.</span></div>
                <div class="mt-4">
                    <h6 class="v-profile"><a class="btn" href="https://www.linkedin.com/in/shashankverma1816/" >View LinkedIn</a></h6>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="bg-white p-3 text-center rounded box"><img class="img-responsive rounded-circle" src="../../../assets/images/utkarsh.jpg" width="90">
                <h5 class="mt-3 name">Utkarsh Chaurasia</h5><span class="work d-block">Software Developer</span><span class="work d-block">Angular and Java FSD</span>
                <div class="mt-4 about"><span>is a long established fact that eader&nbsp; will be distracted by the readable content.</span></div>
                <div class="mt-4">
                    <h6 class="v-profile"><a class="btn" href="https://www.linkedin.com/in/utkarshchaurasia/?originalSubdomain=in" >View LinkedIn</a></h6>
                </div>
            </div>
        </div>
        
    </div>
</div>