<nav class="navbar navbar-expand-lg navbar-dark bg-dark p-3 purple-gradient">
  <div class="container-fluid">
    <a class="navbar-brand mt-2 mt-lg-0" routerLink="/">
      <img
        src="https://assets.website-files.com/5d230436d635071c3f7da24d/5ddf5c3da73bad747a57e1e1_HealthifyMe---White-Logo-(Transparent).png"
        height="45" alt="MDB Logo" loading="lazy" />
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ms-auto ">
        <li class="nav-item">
          <a class="nav-link mx-2 active" aria-current="page" routerLink="">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link mx-2" routerLink="/plans">Our Plans</a>
          <!-- need to remove href here -->
        </li>
        <li class="nav-item">
          <a class="nav-link mx-2" routerLink="/trackers">Trackers</a>
          <!-- need to remove href here -->
        </li>
        <div *ngIf="this.appservice.globalloggedinuser; then loggedinblock else loggedoutblock"></div>
        <ng-template #loggedoutblock>
        <li class="nav-item dropdown">
          <a class="nav-link mx-2 dropdown-toggle" routerLink="" id="navbarDropdownMenuLink" role="button"
            data-bs-toggle="dropdown" aria-expanded="false">
            Register/Login
          </a>
          <ul class="dropdown-menu bg-grey" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" routerLink="/login">Login</a></li>
            <li><a class="dropdown-item " routerLink="/register">Register</a></li>
            <li><a class="dropdown-item " routerLink="/forgotpass">Forgot Password</a></li>
          </ul>
        </li>
        </ng-template>
        <ng-template #loggedinblock>
          <li class="nav-item dropdown">
            <a class="nav-link mx-2 dropdown-toggle" id="navbarDropdownMenuLink" role="button"
            data-bs-toggle = "dropdown" aria-expanded="false">
            {{this.appservice.globalloggedinuser.name}}
          </a>
          <ul class="dropdown-menu bg-grey" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" routerLink="/profile/{{this.appservice.globalloggedinuser.email}}">My Profile</a></li>
            <li><a class="dropdown-item " routerLink="">Settings</a></li>
            <li><a class="dropdown-item " routerLink="/forgotpass">Logout</a></li>
          </ul>
          
          </li>
        </ng-template>
      </ul>
    </div>
  </div>
</nav>