<div class="pricing-area">
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="single-price">
            <div class="deal-top">
              <h3>My Info</h3>
              <h4> {{currentuser.name}} <span class="sup">{{currentuser.age}}</span> </h4> 
            </div>
            <div class="deal-bottom">
              <ul class="deal-item">
                <li><strong>Gender : </strong>{{currentuser.gender}}</li>
                <li><strong>Age : </strong>{{currentuser.age}}</li>
                <li><strong>Weight(kg) : </strong>{{currentuser.weight}}</li>
                <li><strong>Height(cm) : </strong>{{currentuser.height}}</li>
                <li><strong>Active Plan : </strong>{{activeplan}}</li>
              </ul>
              <div class="btn-area">
                <a href="#">Edit</a>       
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="single-price">
            <div class="deal-top">
              <h3>Standard Price</h3>
              <h4> 59 <span class="sup">$</span> </h4>
            </div>
            <div class="deal-bottom">
              <ul class="deal-item">
                <li>Workout Plan✅</li>
                <li>Weight Loss Plan✅</li>
                <li>Calorie tracker✅</li>
                <li>Water Tracker✅</li>
                <li>24 hour Support✅</li>
              </ul>
              <div class="btn-area" disabled>
                <a href="">Buy Now</a>       
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="single-price">
            <div class="deal-top">
              <h3>Offer Price</h3>
              <h4> 29<span class="sup">$</span> </h4> 
            </div>
            <div class="deal-bottom">
              <ul class="deal-item">
                <li>Workout Plan✅</li>
                <li>Weight Loss Plan✅</li>
                <li>Calorie tracker✅</li>
                <li>Water Tracker✅</li>
                <li>24 hour Support✅</li>
              </ul>
              <div class="btn-area">
                <a href="#">Buy Now</a>       
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>       
  
  
  </div>