<div class="pricing-area">
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="single-price">
            <div class="deal-top">
              <h3>My Info</h3>
              <h4> {{currentuser.name}} <span class="sup">{{currentuser.age}}</span> </h4> 
            </div>
            <div class="deal-bottom">
              <ul class="deal-item">
                <li><strong>Gender : </strong>{{currentuser.gender}}</li>
                <li><strong>Age : </strong>{{currentuser.age}}</li>
                <li><strong>Weight(kg) : </strong>{{currentuser.weight}}</li>
                <li><strong>Height(cm) : </strong>{{currentuser.height}}</li>
                <li><strong>Active Plan : </strong>{{activeplan.plan_name}}</li>
                <li><strong>Workout id : </strong>{{activeplan.workout.workout_id}}</li>
                <li><strong>Diet id : </strong>{{activeplan.diet.diet_id}}</li>
              </ul>
              <div class="btn-area">
                <a (click)="gototrackers()">Goto Trackers</a>       
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="single-price">
            <div class="deal-top">
              <h3>{{activeplan.plan_name}}</h3>
              <h4>Your Diet <span class="sup"></span> </h4>
            </div>
            <div class="deal-bottom">
              <ul class="deal-item">
                <li>{{activeplan.diet.breakfast}}✅</li>
                <li>{{activeplan.diet.lunch}}✅</li>
                <li>{{activeplan.diet.dinner}}✅</li>
                <li>Calories/Day : {{activeplan.diet.calorieIntake}} KCal✅</li>
                <li>Protein/Day : {{activeplan.diet.protein}} grams✅</li>
                <li>Carbs/Day : {{activeplan.diet.carb}} grams✅</li>
                <li>Fat/Day : {{activeplan.diet.fat}} grams✅</li>
              </ul>
              <div class="btn-area" disabled>
                <a (click)="gototrackers()">Goto Trackers</a>       
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="single-price">
            <div class="deal-top">
              <h3>Gym Session</h3>
              <h4> Workout<span class="sup"></span> </h4> 
            </div>
            <div class="deal-bottom">
              <ul class="deal-item">
                <li>{{activeplan.workout.exercise1}}✅</li>
                <li>{{activeplan.workout.exercise2}}✅</li>
                <li>{{activeplan.workout.exercise3}}✅</li>
                <li>{{activeplan.workout.exercise4}}✅</li>
                <li>{{activeplan.workout.exercise5}}✅</li>
                <li>{{activeplan.workout.exercise6}}✅</li>
                <li>Calories burnt/session {{activeplan.workout.caloriesBurnt}} Kcal✅</li>
              </ul>
              <div class="btn-area">
                <a (click)="gototrackers()">Goto Trackers</a>       
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>       
  
  
  </div>