<div class="footer-dark ">
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-3 item">
                    <h3>Services</h3>
                    <ul>
                        <li><a href="#">Diet Plan</a></li>
                        <li><a href="#">Calorie Track</a></li>
                        <li><a href="#">Meditation</a></li>
                    </ul>
                </div>
                <div class="col-sm-6 col-md-3 item">
                    <h3>About</h3>
                    <ul>
                        <li><a href="#">Aim</a></li>
                        <li><a href="#">Team</a></li>
                        <li><a href="#">Careers</a></li>
                    </ul>
                </div>
                <div class="col-md-6 item text">
                    <h3>HealthifyMe</h3>
                    <p>HealthifyMe is an Indian digital health and wellness company, which provides an app with services such as calorie tracking and advice on nutrition and fitness. It is available on the Android and iOS platforms, and can be used with wearable technology such as activity trackers.</p>
                </div>
                <div class="col item social"><a href="https://www.facebook.com/HealthifyMe/"><i class="icon ion-social-facebook"></i></a><a href="https://twitter.com/healthifyme"><i class="icon ion-social-twitter"></i></a><a href="https://www.instagram.com/healthifyme/"><i class="icon ion-social-instagram"></i></a></div>
            </div>
            <p class="copyright">HealthifyMe © 2022</p>
        </div>
    </footer>
</div>