<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Successfull!</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="d('Cross click')"></button>
    </div>
    <div class="modal-body">
        <p>Plan has been activated successfully. Kindly login again.</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-danger btn-outline-dark" (click)="Login()">Okay</button>
        <!-- <button type="button" class="btn btn-outline-dark" (click)="d('Cross click')">No</button> -->
    </div>
</ng-template>

<app-navbar></app-navbar>
<div class="container-fluid px-1 py-5 mx-auto">
    <div class="row d-flex justify-content-center">
        <div class="col-xl-7 col-lg-8 col-md-9 col-11 text-center">
            <h3>Weightgain Goal</h3>
            <p class="blue-text">Just answer a few questions<br> so that we can personalize the right experience for you.</p>
            <div class="card">
                <h5 class="text-center mb-4">Please fill in Your Goal</h5>
                <form class="form-card">
                    <div class="row justify-content-between text-left">
                        <div class="form-group col-sm-6 flex-column d-flex"> 
                            <label class="form-control-label px-3">Name<span class="text-danger"> *</span></label> 
                            <input type="text" id="name" name="name" placeholder="{{this.appservice.globalloggedinuser.name}}" disabled> 
                        </div>
                        <div class="form-group col-sm-6 flex-column d-flex"> 
                            <label class="form-control-label px-3">Email<span class="text-danger"> *</span></label> 
                            <input type="text" id="lname" name="email" placeholder="{{this.appservice.globalloggedinuser.email}}" disabled>
                        </div>
                    </div>
                    <div class="row justify-content-between text-left">
                        <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">Weight you want to gain? (kg)<span class="text-danger"> *</span></label> <input type="text" id="weight" name="weight" [(ngModel)]="goalentered" > </div>
                    </div>
                    
                    <div class="row justify-content-end">
                        <div class="form-group col-sm-6"> <button type="button" class="btn-block btn-primary" (click)="weightgainactivation(content)" >Submit</button> </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
